* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {

}
.logo, .content, .sidebar {
    background-color: white;
    padding: 20px;
}
.back {
    background-color: #eeeeee;
    border-color: #999;
    padding: 20px;
    position: relative;
    overflow: auto;
}
.logo {
    width: 200px;
    position: absolute;
    left: 20px;
    top: 20px;
    border: 1px solid blue;
}
.content {
    width: auto;
    position: relative;
    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid black;
}
.sidebar {
    width: 120px;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid red;
}
.pic {
    width: 80px;
    height: 80px;
}

.logo-, .content-, .sidebar- {
    background-color: white;
    padding: 20px;
}
.back- {
    background-color: #eeeeee;
    border-color: #999;
    padding: 20px;
    position: relative;
    overflow: auto;
    margin-top: 50px;
}
.logo- {
    width: 200px;
    float: left;
    left: 20px;
    top: 20px;
    border: 1px solid blue;
}
.content- {
    width: auto;

    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid black;
}
.sidebar- {
    width: 120px;
    float: right;
    right: 20px;
    top: 20px;
    border: 1px solid red;
}
.pic {
    width: 80px;
    height: 80px;
}