* {
    margin: 20px;
}
.css-arrow-multicolor {
    border-color: red green blue orange;
    border-style: dotted;
    border-width: 350px 200px 150px 300px;
    width: 0;
    height: 0;
}
.square-border {
    width: 0;
    height: 0;
    border-width: 200px 200px;
    border-color: red;
    border-style: solid;
}
.square-width {
    width: 400px;
    height: 400px;
    background-color: #ffcc00;
}
.circle {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-color: orange;
}
.semicircle-top {
    width: 40px;
    height: 20px;
    border-radius: 40px 40px 0 0;
    background-color: blue;
}
.semicircle-left {
    width: 20px;
    height: 40px;
    border-radius: 40px 0 0 40px;
    background-color: blue;
}
.semicircle-right {
    width: 20px;
    height: 40px;
    border-radius: 0 40px 40px 0;
    background-color: blue;
}
.semicircle-bottom {
    width: 40px;
    height: 20px;
    border-radius: 0 0 40px 40px;
    background-color: blue;
}
.fan-shaped {
    background-color: cornflowerblue;
    width: 40px;
    height: 40px;
    border-radius: 40px 0 0 0;
}
.fan-shaped-right-bottom {
    background-color: cornflowerblue;
    width: 40px;
    height: 40px;
    border-radius: 0 0 40px 0;
}
.flower {
    position: relative;
}
.oval1, .oval2, .oval3, .oval4 {
    width: 300px;
    height: 200px;
    background-color: darkseagreen;
    border-radius: 150px/110px 10px 200px;
}
.oval1 {
    border-radius: 150px/10px 110px 10px 200px;
}
.oval2 {
    position: absolute;
    margin-left: 340px;
    top: -20px;
    border-radius: 150px/110px 10px 200px;
}
.oval3 {
    border-radius: 150px/200px 10px 110px;
}
.oval4 {
    position: absolute;
    margin-left: 340px;
    top: 200px;
    border-radius: 150px/10px 200px 10px 110px;
}

.triangle-up {
    width: 0;
    height: 0;
    border: 50px solid red;
    border-color: transparent transparent red;
}

.triangle-down {
    width: 0;
    height: 0;
    border: 35px solid blue;
    border-color: red transparent transparent transparent;
    
}

.triangle-up-left {
    width: 0;
    height: 0;
    border: 50px solid blue;
    border-color: blue transparent transparent blue;
}

.parallelogram-practice {
    position: relative;
}

.parallelogram-practice:after {
    clear: both;
    content: "";
    display: block;
    visibility: hidden;
}

.parallelogram {
    width: 100pt;
    height: 30pt;
    transform: skew(45deg);
    background-color: #777777;
}

.border-test1 {

    width: 100px;

    height: 100px;

    border: 10px solid #cd0000;

    color: red;

}

.border-test2 {

    border: 4px solid #000;

    width: 100px;

    height: 100px;

    left: 14px;

    top: 14px;

}

.border-test3 {

    width: 100px;

    height: 100px;

    border: 10px solid #000;

    box-sizing: border-box;

    position: relative;

    top: 10px;

    left: 10px;

}

.border-test4 {

    border: 4px solid #cd0000;

    width: 100px;

    height: 100px;

    top: 15px;

    left: 10px;

    position: relative;

    box-sizing: border-box;

    color: red;

}

.transform {
    width: 100px;
    height: 80px;
    background-color: #ffcc00;
    margin: 20px;
    float: left;
}

.rotate {
    transform: rotate(20deg);
}

.translate {
    transform: translate(100px,100px);
}

.scale {
    transform: scale(0.7, 1.3);
}
.skew {
    transform: skew(30deg);
}

.matrix {
    transform: matrix(1.5,0.5,0.5,1.5,1.5,0.1)
}


.skew {
    background-color: red;
    width: 100px;
    height: 80px;
    border: 5px solid red;
    float: left;
    margin: 10px;
    margin-top: 50px;
}

.skew1 {
    transform: skewX(20deg);
    border-bottom-color: black;
}

.skew2 {
    transform: skewX(30deg);
    border-bottom-color: black;
}

.skew3 {
    transform: skewY(20deg);
    border-right-color: black;
}

.skew4 {
    transform: skewY(30deg);
    border-right-color: black;
}

.star-six {
    margin: 100px;
    position: relative;
    width: 0;
    height: 0;
    border:solid;
    border-width: 100px 80px;
    border-color: red transparent transparent transparent;
}

.star-six:after {
    position: absolute;
    content: "";
    top: -240px;
    left: -80px;
    width: 0;
    height: 0;
    border:solid;
    border-width: 100px 80px;
    border-color: transparent transparent red transparent;
}

.heart {
    background-color: #cd0000;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    margin: 100px;
}

.heart:before, .heart:after {
    background-color: #cd0000;
    width: 200px;
    height: 120px;
    position: absolute;
    content: "";
    border-radius: 100px 100px 0 0;
}

.heart:before {
    top: -119px;
}

.heart:after {
    transform: rotate(-90deg);
    top: 40px;
    left: -159px;
}
