<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<script src="vue.js"></script>
	<title>Inline Editor</title>
</head>
<style>
[v-cloak] {
	display: none;
}
</style>
<body>

	<div id="inlineEditor" v-cloak v-on:click="hideTooltip">

		<div class="tooltip" v-on:click.stop v-if="show_tooltip">
			<input type="textarea" v-model="text_content"/>
		</div>
		<p v-on:click.stop="toggleTooltip">
			<span>Click me to edit :</span>
			{{text_content}}
		</p>
	</div>

</body>
<script>
var demo = new Vue({
	el: '#inlineEditor',

	data: {
		show_tooltip: false,
		text_content: 'Edit me'
	},

	methods: {
		hideTooltip: function(){
			// 数据改变时，自动更新
			this.show_tooltip = false;
		},
		toggleTooltip: function(){
			this.show_tooltip = !this.show_tooltip;
		}
	}
})
</script>
</html>